@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<p>
    <b>
        Farmers are facing many issues. Therefore, our only intension is to help the user(farmer) to enjoy the
        farming and discover different types of cultivating techniques which enhances in improving production and
        make farmer happy.
    </b>
</p>
<br><p>
    •	In the past people struggles to get knowledge from different sources but now farmers have more
    facilities then the past.
    In the future there will be more facilities. Therefore, transformations will not stop.
</p>
<br /><p>
    • User can also understand the current situations and techniques to improve their cultivation standards,
    In the needed time this site also helps the farmer to buy necessary goods.
    In this the user will get the modern farming techniques according to the land size they have.
</p>
<br /><p>
    • In this the user will get the modern farming techniques according to the land size they have.
    The farmer also gain knowledge by seeing the news updates
</p>


<meta name="viewport" content="width=device-width, initial-scale=1">
<br />
<b>Here is a short vedio that makes you the imporatnce of farmer, and it inspires to take farming as a Profession:</b>

<video id="vedioplayer" src="@Url.Content("~/vedios/Modern Agriculture Technology.mp4")" controls width="1000" height="400"></video>
<br><p>Thanks for supporting us and welcome to our page</p>

<h4>
    If you have any queries feel free to reach us : <button style="background-color:black; border-color:black; color:white" ; onclick="location.href='@Url.Action("Contact", "Home")'; return false;">Contact Us</button>
</h4>
<style>
    body {
        background-image: url('../../images/backtryy9.jpg');
    }
</style>

