@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    AGRO<br />
    New street, Glasgow<br />
</address>

<h4>If you have any Farming related quries can Drop mail</h4>
<address>
    <strong>Sevice desk</strong>   <a href="Agricutlure23@gmail.com">Agricutlure23@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="Agricutlureprio23233@gmail.com">Agricutlureprio23233@gmail.com</a>
</address>

<style>
    body {
        background-image: url('../../images/backtryy11.jpeg');
    }
</style>